.link{
	color:#0066ff;
	
}

.bt1{
	background-color:#1c8adb;
	width:100%;
	padding:10px;
	border-radius:20px;
	font-size:15px;
	margin:10px 0;
	border: none;
	outline: none;
	cursor: pointer;
	color:#fff;
}

.bt2{
	background-color:#21afde;
	width:100%;
	padding:10px;
	border-radius:20px;
	font-size:15px;
	margin:10px 0;
	border: none;
	outline: none;
	cursor: pointer;
	color:#fff;
}
.box#blur.active{
	filter:blur(20px);
}
.box{
	position: relative;
	top:60%;
	left: 50%;
	transform: translate(-50%,0);
	width: 400px;
	margin-top:175px ;
	margin-bottom: 107px;
	padding-top: 40px;
	padding-right: 40px;
	padding-bottom: 5px;
	padding-left: 40px;
	background: #0c3a5a;
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	border-radius: 10px;
}

.box h2{
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align:center;
}
.box .inputBox label{
	display: block;
	top: 0;
	left: 0;
	padding: 10px 0;
	font: 16px;
	color:#fff;	
}

.box .inputBox input{
	width: 100%;
	padding: 10ps 0;
	font-size: 16px;
	color: #03a9f4;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
    background: transparent;	
}

.login1{
  border-radius: 30%;
  position: absolute;
  top: -65px;
  left: calc(50% - 50px)
}

hr{
	margin-top:20px;
	width:80%;
}

.or{
	background: rgba(0,0,0,.8);
	width:25px;
	margin: -35px auto 10px;
	color:#fff;
}

/* ------------------------------------------SIGNUP BOX---------------------------------------------------------*/

#login{
	visibility:hidden;
	opacity:0;
	transition:0.5s;
}

#login.active{
	visibility:visible;
	opacity:1;
	transition:1.5s;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  color:#03a9f4;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #001a00;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: Transparent;
  color: white;
  padding: 14px 20px;
  margin: 70px; 
  border: 2px solid white;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background: -webkit-linear-gradient(left,#ff8080,#ff3333);
  margin: 8px 0;
}
.signupbtn{
  padding: 14px 20px;
  background:-webkit-linear-gradient(left,#7579ff,#b224ef);
  margin: 8px 0;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 30%;
}

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed;
  left: 20%;
  right: 0%;
  top: 0;
  width: 60%;  
  margin-top: 60px;
  overflow: none; 
  background-color: transparent;
  padding-top: 0px;
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(0,0,0,.8);
  margin: auto; 
  border: 1px solid #888;
  width: 80%; 
  padding-top: 5px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 20px;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.popup{
	color: white;
}
