.foota
{
	height : 350px;
	width : 100%;
    word-spacing : 10px;
    background-image: url("../images/footer.jpg");
	color : white;
	font-family : Courier new, Monospace;
	font-weight: bold;
	background-repeat: no-repeat;
	
	
}

.div-transbox
{
	width : 950px;
	height : 300px;
	margin-left: 30px;
	margin-right: 30px;
	background-color: black ;
    border : none;
    opacity: 0.8;
    filter: alpha(opacity=70);
	border-radius: 8px;
}
	
.social
{
	width: 20px;
	height: 20px;
	border-radius: 50%;
}